*{
    margin: 0;
}
.container{
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    height: auto;
}
.nav{
    display: flex;
    justify-content: space-around;
    font-family: "Open Sans", sans-serif;
    font-variation-settings: "wdth" 75;
    font-weight: 600;
    height: 70px;
}
.logo{
    margin-top: auto;
}
.logo img{
    width: 60px;
}
.nav_links{
    display: flex;
    width: 650px;
    justify-content: space-around;
    
}
.nav_links ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    overflow: hidden;
    width: 100%;
    
}
.nav_links li{
    margin:auto;
    justify-content: space-between;
}
.nav_links a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #00000080;
    font-size: 18px;
}
.signin_up{
    display: flex;
    width: 350px;
}
.signin_up a{
    margin: auto;
    text-decoration: none;
    padding: 7px 40px 7px 40px;
    font-weight: 700;
    border-radius: 50px;
    font-size: 18px;
}
.signin{
    background-color: white;
    color: #A60000CC;
}
.signin:hover{
    background: black;
    color: white;
}
.signup{
    background: linear-gradient(#D22828, #901919);
    color: white;
}
.signup:hover{
    background: black;
    color: white;
}
.form{
    justify-content: center;
    display: flex;
}
form{
    border: 5px solid white;
    margin-top: 50px;
    width: 700px;
    background-color: #FFFFFFCC;
    border-radius: 25px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #B00404;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

.inputs{
    display: block;
    justify-content: center;
}

.login-input{
    background-color: #28282873;
    margin: 20px 50px;
    border-radius: 20px;
    display: flex;
    height: 40px;
}

.login-input img{
    margin-left: 10px;
    width: 25px;
}

input::placeholder{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

#pass_img{
    margin-right: 10px;
    width: 30px;
    cursor: pointer;
}

input[type="email"]{
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 15px;
    outline: none;
    color: white;
    font-size: 18px;
}

input[type="password"]{
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 15px;
    outline: none;
    color: white;
    font-size: 18px;
}

#pass_img{
    margin-right: 10px;
    width: 30px;
    cursor: pointer;
}

.remember-forget{
    display: flex;
    justify-content: space-between;
    margin: 20px 60px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.remember-forget label{
    display: inline-block;
    vertical-align: middle;
}

.remember-forget label input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; 
}

.remember-forget a{
    text-decoration: none;
    color: #000000;
}

.btn{
    display: block;
    margin: 20px 50px;
    background: linear-gradient(#921B1B, #832121);
    font-size: 23px;
    font-family: "Open sans", sans-serif;
    font-weight: 700;
    border-radius: 15px;
    height: 50px;
    width: 85%;
}

.register{
    font-size: 16px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #412727;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:780px){
    form{
        width: 450px;
    }
    h1{
        font-size: 27px;
    }
    h2{
        font-size: 18px;
    }
    input{
        margin-left: 5px;
        font-size: 14px;
    }
    input::placeholder{
        font-size: 15px;
    }
    .input_field{
        height: 35px;
    }
    .input_field img{
        width: 20px;
    }
    #pass_img{
        width: 25px;
    }
    #pass_img2{
        width: 25px;
    }
    .register_b input{
        font-size: 18px;
        height: 45px;
    }
    input[type="checkbox"]{
        width: 25px;
        height: 25px;
    }
    .text{
        font-size: 14px;
    }
    .socials img{
        width: 25px;
        height: 25px;
        padding: 3px;
    }
}
